[run]
source =
    ./fast_trade
omit =
    ./fast_trade/__main__.py
    ./fast_trade/__init__.py

[report]
show_missing = True
skip_covered = False
fail_under = 100
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    if __name__ == "__main__":
