finta==0.3.9
numpy==1.17.4
pandas==0.25.3
python-dateutil==2.8.1
python-dotenv==0.10.5
pytz==2019.3
six==1.13.0
appdirs==1.4.3
attrs==19.3.0
black==19.10b0
Click==7.0
finta==0.3.9
numpy==1.17.4
pandas==0.25.3
pathspec==0.7.0
python-dateutil==2.8.1
python-dotenv==0.10.5
pytz==2019.3
regex==2020.1.8
six==1.13.0
TA-Lib==0.4.17
toml==0.10.0
typed-ast==1.4.1
