attrs==19.3.0
finta==0.3.9
importlib-metadata==1.5.0
more-itertools==8.2.0
numpy==1.17.4
packaging==20.1
pandas==0.25.3
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest==5.3.5
python-dateutil==2.8.1
python-dotenv==0.10.5
pytz==2019.3
six==1.13.0
wcwidth==0.1.8
zipp==2.1.0
