appdirs==1.4.3
attrs==19.3.0
black==19.10b0
Click==7.0
entrypoints==0.3
finta==0.3.9
flake8==3.7.9
importlib-metadata==1.5.0
mccabe==0.6.1
more-itertools==8.2.0
numpy==1.17.4
packaging==20.1
pandas==0.25.3
pathspec==0.7.0
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.6
pytest==5.3.5
python-dateutil==2.8.1
python-dotenv==0.10.5
pytz==2019.3
regex==2020.1.8
six==1.13.0
toml==0.10.0
typed-ast==1.4.1
wcwidth==0.1.8
zipp==2.1.0
